language: node_js
git:
  depth: 10
node_js:
  - "6.4"
before_install:
  - travis_retry sudo pip install -r test-infra/requirements.txt
  - rvm install "ruby-1.9.3-p551"
  - rvm use 1.9.3 --fuzzy
  - export GEMDIR=$(rvm gemdir)
  - if [ "$TWBS_TEST" = validate-html ]; then echo "ruby=$(basename $GEMDIR) jekyll=$JEKYLL_VERSION rouge=$ROUGE_VERSION" > pseudo_Gemfile.lock; fi
  - "export TRAVIS_COMMIT_MSG=\"$(git log --format=%B --no-merges -n 1)\""
  - echo "$TRAVIS_COMMIT_MSG" | grep '\[skip validator\]'; export TWBS_DO_VALIDATOR=$?; true
  - echo "$TRAVIS_COMMIT_MSG" | grep '\[skip sauce\]'; export TWBS_DO_SAUCE=$?; true
install:
  - npm install -g grunt-cli
  - npm i
env:
  global:
    - JEKYLL_VERSION: 2.3.0
    - ROUGE_VERSION: 1.6.2
    - SAUCE_USERNAME: "jhkwon" 
    - secure: "tRNEW97LGivsQ0VOTPdWLxkkNY5FrIyDcY4EmhoAAWO0m03xCZnlB9dK+nk7vIg8DeAX6ieqe8+z68+soIhHjw30yBAC2aox6jPlHVC1zHUoIerb1DFjDxyAKJEQyqCiyGp8CMUg0Bl2clscvZ8YHrhSODQU+hip1+QpycNyvMho5cTwEzn4C5VwHoA4fhgfaIc02iNXGeVxTZTWc7A0za5LzruXYPcu7t+d/J7p3BASsJUCxTCD0AYjXM9w/S+2LKf0TjhxpLLCn9ICy3BthynVkNaHjjOM2C8y+ht40JPklEbwXv/AVrLzYvWTWYFEu4hwF4Xs0oPAfR3NaB1OKPv9VRPccWRE6me6faUFxwHl9JgQkMl8Z6bzwbSi8KQ8h4opdEe/txHl069BuRtXZnrdpb/Ps/H5o4CmCt1DVSrbSBe86gbp6WBdbC+xy5o9PiH5iRLIFxesj8HIgbJgH/dSlTCHMh+eMTRFM/H3czRGAr3hrMzBFfYks5Dp0pv4bKLDlE/HgFLzfLKSPPVIpBQJNutdAvj29WyVs7cfsXDKSBNWytW7+D1WHv/4No6XbXRFBLFsBvHEncqNOOMVvxkWxHkGMdYc6salcXLzEf2nEaeNs8VmLP9QVTe0WvXVdHkvkt/bQLuH3BCaBzjN5FJIUgoZKrv1OXqbmZoO0j8="
  matrix:
    - TWBS_TEST=sauce-js-unit
matrix:
  fast_finish: true
